html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	display: block;
}


/******************************************

** Global Styles

******************************************/

h1, h2, h3, h4, h5, h6, .coz-intro {
	font-family: 'Orbitron', sans-serif;
	text-transform: uppercase;
}

h1, p {
	color: #FFFFFF;
}

h2 {
	color: #FFD84B;
}

.bold-text {
	font-weight: bold;
}

.gold-text {
	color: #FFD84B;
	font-weight: bold;
}

.grey-text {
	color: #CEDAE3;
	font-weight: bold;
}

.blue-text-link {
	color: #4598FF;
	text-decoration: underline;
}

.blue-text-link:hover {
	color: #73B1FF;
}

#main-wrapper {
	border: 20px solid #2B2B5E;
	background: url('../images/Background-texture.jpg') 0 0 no-repeat;
	background-size: cover;
	padding: 0 40px;
}

/* All H2 yellow headlines */
.yellow-headline,
.grey-headline {
	font-size: 26px;
	font-weight: 700;
	letter-spacing: 3px;
	margin-bottom: 5px;
}

/* 
.winners-headline {
	border-left: 2px solid #FFDA00;
	border-right: 2px solid #FFDA00;
	margin-bottom: 0;
	padding: 30px 0;
	text-align: center;
	background: orange;
}
 */


/******************************************

** Logo

******************************************/

.coz-logo {
	margin: 54px auto 150px;
	width: 260px;
	height: 45px;
}


/******************************************

** General introductory copy

******************************************/

#headline-wrapper {
	max-width: 978px;
	margin: 0 auto;
	text-align: center;
}

#headline-wrapper .coz-intro {
	font-size: 17px;
	font-weight: 600;
	color: #FFD84B;
	margin-bottom: 15px;
	letter-spacing: 0.05em;
}

#headline-wrapper .headline {
	font-size: 66px;
	font-weight: 700;
	color: #FFFFFF;
	letter-spacing: 14px;
	margin-bottom: 20px;
}

#headline-wrapper .skewed-subline-losenge {
	-webkit-transform: skew(-15deg);
	transform: skew(-15deg);
	background-image: linear-gradient(90deg,#FFA700,#FFD900);
	padding: 9px 15px 11px;
	width: 252px;
	margin: 0 auto 37px;
}

#headline-wrapper .skewed-subline-losenge .skewed-losenge-copy {
	font-size: 16px;
	font-weight: 600;
	color: #1B1B3C;
	-webkit-transform: skew(15deg);
	transform: skew(15deg);
}

#headline-wrapper .large-subline-copy {
	font-size: 22px;
	line-height: 35px;
	color: #ffffff;
	max-width: 643px;
	margin: 0 auto 113px;
}


/******************************************

** All competition information

******************************************/

#competition-information-wrapper {
	max-width: 978px;
	margin: 0 auto;
	/* background: rgba(26, 26, 57, 0.6); */
}

#competition-information-wrapper .stats-wrapper {
	position: relative;
	background: url('../images/stats-background-image.png') 0 0 no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	border-left: 2px solid #FFDA00;
	border-right: 2px solid #FFDA00;
}


/****** Winner stats panel ******/
#competition-information-wrapper .stats-wrapper .winner-stats {
	position: absolute;
	width: 33.33%;
	left: 33.33%;
	top: -29px;
	border-top: 6px solid #6060A9;
	text-align: center;
}

#competition-information-wrapper .total-prize .winner-tag {
	margin: 0 auto 20px;
}

#competition-information-wrapper .total-prize-number {
	font-size: 80px;
	letter-spacing: 2px;
	font-family: 'Teko', sans-serif;
	font-weight: 500;
	color: #FFFFFF;
	margin-bottom: -10px;
}

#competition-information-wrapper .total-prize {
	background-image: linear-gradient(-180deg,#4B4B89,#3E3E70);
	background-image: url('../images/prize-noise.png'), linear-gradient(-180deg,#4B4B89,#3E3E70);
	box-shadow: 0 4px 7px #191937;
	background-size: 100% 100%;
	height: 197px;
	position: relative;
	z-index: 100;
}

#competition-information-wrapper .total-prize-text {
	font-size: 40px;
	font-family: 'Teko', sans-serif;
	font-weight: 300;
	color: #FFFFFF;
}

#competition-information-wrapper .split-line {
	height: 2px;
	width: 100%;
	background-image: linear-gradient(90deg,#FFA700,#FFD900);
	margin: 36px auto 0;
}

#competition-information-wrapper .prize-breakdown {
	background-size: 100% 125px;
	height: 82px;
	padding: 62px 0 0;
	
}

#competition-information-wrapper .winners {
	font-family: 'Orbitron', sans-serif;
	font-size: 26px;
	font-weight: 700;
	letter-spacing: 3px;
	color: #ffffff;
	text-transform: uppercase;
	max-width: 90%;
	margin: 0 auto 3px;
}

#competition-information-wrapper .receiving-amount {
	font-size: 23px;
	font-family: 'Teko', sans-serif;
	font-weight: 300;
	color: #FFD84B;
}


/****** Date stats panel ******/
#competition-information-wrapper .stats-wrapper .date-stats {
	overflow: hidden;
	height: 167px;
	border-top: 8px solid #FFDA00;
}

#competition-information-wrapper .registration-date {
	width: 33.33%;
	float: left;
	text-align: center;
}

#competition-information-wrapper .submission-date {
	width: 33.33%;
	float: right;
	text-align: center;
}

#competition-information-wrapper .registration-date .calendar,
#competition-information-wrapper .submission-date .calendar {
	margin: 0 auto 18px;
}

#competition-information-wrapper .date-title {
	font-size: 20px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 5px;
}

#competition-information-wrapper .date-information {
	font-size: 14px;
	color: #E6ECF2;
}


/****** Accordion area ******/
.honourable-headline {
	border: 0;
	margin-bottom: 0;
	padding: 30px 0;
	color: #ffffff;
	text-align: center;
}

#accordion {
	width: 100%;
	padding: 0 0 30px;
}

#accordion .winners-accordions {
	border-left: 2px solid #FFDA00;
	border-right: 2px solid #FFDA00;
	border-bottom: 2px solid #FFDA00;
}

#accordion .honourable-accordions {
	border-top: 8px solid #CEDAE3;
	border-left: 2px solid #CEDAE3;
	border-right: 2px solid #CEDAE3;
	border-bottom: 2px solid #CEDAE3;
	margin-top: 50px;
}

#accordion .accordion-content-wrapper {
	overflow: hidden;
	position: relative;
	background: #1A1A39;
}

#accordion .accordion-content-wrapper img,
#accordion .accordion-content-wrapper .entry-team,
#accordion .accordion-content-wrapper .entry-name {
	float: left;
	padding-left: 25px;
}

#accordion .accordion-content-wrapper img {
	margin-top: 15px;
}

#accordion .accordion-content-wrapper .entry-team,
#accordion .accordion-content-wrapper .entry-name {
	height: 18px;
	margin-top: 22px;
}

#accordion .accordion-content-wrapper .entry-team {
	width: 372px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#accordion .accordion-content-wrapper .entry-name {
	min-width: 260px;
}

#accordion .accordion-content-wrapper .btn-accordion {
	float: right;
	width: 52px;
	height: 62px;
	outline: 0;
	border: 0;
	background: #1A1A39;
}

#accordion .accordion-content-wrapper .btn-accordion img {
	transition: 0.15s ease-in-out all;
	-webkit-transition: 0.15s ease-in-out all;
}

.btn-accordion.active img {
	-ms-transform: rotate(180deg) !important; /* IE 9 */
    -webkit-transform: rotate(180deg) !important; /* Chrome, Safari, Opera */
    transform: rotate(180deg) !important;
}

#accordion .accordion-content-wrapper .btn-accordion img {
	margin: 0 auto;
	width: 100%;
	padding: 0;
}

#accordion .accordion-content-wrapper .accordion-inner {
	max-height: 0;
	overflow: hidden;
	width: 100%;
	float: left;
	padding-left: 70px;
}

.btn-accordion.active .accordion-content-wrapper .accordion-inner {
	background: pink !important;
}

#accordion .accordion-inner .entry-description {
	padding: 20px 0 30px;
	width: 51%;
	float: left;
}

#accordion .accordion-inner .entry-links-wrapper {
	padding-top: 25px;
	width: 49%;
	float: left;
}

#accordion .accordion-inner .entry-links-wrapper .entry-link {
	width: 80%;
	margin-left: 20%;
	margin-bottom: 10px;
	display: inline-block;
}

/* Coloured accordion */
#accordion .coloured-accordion {
	background: #2A2A5A !important;
}

/****** Competition summary copy ******/

#copy-wrapper {
	position: relative;
	/* padding: 160px 80px 80px; */
}

#copy-wrapper .body-copy {
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	color: #E6ECF2;
	max-width: 772px;
	/* margin-bottom: 70px; */
}

#copy-wrapper .remove-bottom-margin {
	margin-bottom: 10px;
}

#copy-wrapper .body-copy-italic {
	font-style: italic;
	color: #E6ECF2;
}

#copy-wrapper .body-copy-bold {
	font-weight: 700;
}

#copy-wrapper .good-luck {
	font-size: 20px;
	color: #FFDA00;
	margin-bottom: 8px;
}

#copy-wrapper .signoff {
	font-size: 30px;
	color: #FFFFFF;
	font-weight: 600;
}

 
/******************************************

** Footer

******************************************/

#footer {
	width: 100%;
	text-align: center;
	padding: 50px 0;
}

#footer .smaller-body-copy {
	color: #FFFFFF;
}


/******************************************

** Small desktop media queries (<950px width)

******************************************/

@media screen and (max-width: 950px) {

	#accordion .accordion-content-wrapper .btn-accordion {
		float: none;
		position: absolute;
		top: 0;
		right: 0;
	}
	
	#accordion .accordion-content-wrapper {
		padding: 20px 0;
	}
	
	#accordion .accordion-content-wrapper .entry-team {
		margin-top: 3px;
		width: 80%;
	}
	
	#accordion .accordion-content-wrapper .entry-name {
		margin-top: 0;
	}
	
	#accordion .accordion-content-wrapper .medal {
		margin-top: 5px;
	}
	
	#accordion .accordion-content-wrapper .btn-accordion {
		height: 81px;
	}
	
}


/******************************************

** Small tablet media queries (<800px width)

******************************************/

@media screen and (max-width: 800px) {
	
	/* Main page headline */
	#headline-wrapper .headline {
		font-size: 52px;
	}
	
	/****** Winners tag ******/
	/* 13500 */
	#competition-information-wrapper .total-prize-number {
		font-size: 60px;
	}
	
	#competition-information-wrapper .prize-breakdown {
		padding: 72px 0 0;
	}
	
	/* Total prize */
	#competition-information-wrapper .total-prize-text {
		font-size: 32px;
	}
	
	/* 10 Winners */
	#competition-information-wrapper .winners {
		font-size: 25px;
	}
	
	/* Receiving 1350 each */
	#competition-information-wrapper .receiving-amount {
		font-size: 18px;
	}


	/****** Date stats panel ******/
	/* Reduced height of background panel */
	#competition-information-wrapper .stats-wrapper .date-stats {
		height: 166px;
	}

	/* Registration starts, submission date */
	#competition-information-wrapper .date-title {
		font-size: 16px;
	}
	
	#accordion .accordion-content-wrapper .entry-team {
		max-width: 488px;
		word-wrap: break-word !important;
	}

}

/******************************************

** Small tablet media queries (<700px width)

******************************************/

@media screen and (max-width: 750px) {
	
	#accordion {
		width: 100%;
		padding: 0 0 30px;
	}
	
	#accordion .accordion-content-wrapper {
		padding: 0;
	}
	
	#accordion .accordion-content-wrapper .info-wrapper {
		float: left;
		width: 100%;
		background: purple;
		overflow: hidden;
	}

	#accordion .accordion-content-wrapper img,
	#accordion .accordion-content-wrapper .entry-team,
	#accordion .accordion-content-wrapper .entry-name {
		float: left;
		padding-left: 0;
		width: 100%;
		min-width: 100%;
		margin: 0 auto;
		text-align: center;
	}

	#accordion .accordion-content-wrapper img {
		
	}

	#accordion .accordion-content-wrapper .entry-team,
	#accordion .accordion-content-wrapper .entry-name {
		height: 18px;
		margin-bottom: 6px;
	}
	
	#accordion .accordion-content-wrapper .medal {
		margin: 20px auto 13px;
		height: 60px;
	}

	#accordion .accordion-content-wrapper .btn-accordion {
		float: none;
		position: static;
		width: 100%;
		height: 65px;
	}

	#accordion .accordion-content-wrapper .btn-accordion img {
		margin: 0 auto;
		width: 100%;
		padding: 0;
	}

	#accordion .accordion-content-wrapper .accordion-inner {
		max-height: 0;
		overflow: hidden;
		width: 100%;
		float: left;
		padding: 0;
	}

	#accordion .accordion-inner .entry-description {
		margin: 0 auto;
		padding: 0 5%;
		width: 90%;
		float: left;
		text-align: center;
	}

	#accordion .accordion-inner .entry-links-wrapper {
		padding-top: 25px;
		width: 100%;
		float: left;
		margin: 0 auto 30px;
		text-align: center;
	}

	#accordion .accordion-inner .entry-links-wrapper .entry-link {
		width: 100%;
		margin-left: 0;
		margin-bottom: 10px;
		display: inline-block;
	}

}

/******************************************

** Small tablet media queries (<700px width)

******************************************/

@media screen and (max-width: 700px) {
	
	/* Main page headline */
	#headline-wrapper .headline {
		font-size: 45px;
	}
	
	/****** Winners tag ******/
	/* 13500 */
	#competition-information-wrapper .total-prize-number {
		font-size: 50px;
	}
	
	/* Total prize */
	#competition-information-wrapper .total-prize-text {
		font-size: 28px;
	}
	
	/* 10 Winners */
	#competition-information-wrapper .winners {
		font-size: 22px;
	}

	/****** Date stats panel ******/
	/* Registration starts, submission date */
	#competition-information-wrapper .date-title {
		font-size: 14px;
	}
	
	/****** Competition summary copy ******/

}

/******************************************

** Mobile media queries (<600px width)

******************************************/

@media screen and (max-width: 600px) {

	#main-wrapper {
		padding: 0 20px;
	}

	.coz-logo {
		margin: 40px auto 80px;
		width: 200px;
	}

	/* Main page headline */
	#headline-wrapper .headline {
		font-size: 35px;
	}

	#competition-information-wrapper .stats-wrapper {
		background-size: 100% 100%;
	}

	/****** Winner stats panel ******/
	/* Winner stats resize */
	#competition-information-wrapper .stats-wrapper .winner-stats {
		width: 84%;
		left: 8%;
	}
	
	#accordion .accordion-content-wrapper .entry-team {
		text-overflow: initial;
		white-space: initial;
		overflow: initial;
		height: initial;
		max-width: 90%;
		min-width: 1%;
		margin: 0 auto;
		text-align: center;
		float: initial;
		line-height: 20px;
	}
	
	/*** Winners/honourable mentions ***/
	#competition-information-wrapper .stats-wrapper .date-stats {
		width: 100%;
		height: 300px;
	}
	
	#competition-information-wrapper .registration-date,
	#competition-information-wrapper .submission-date {
		width: 50%;
		float: left;
		margin-top: 120px;
	}
	
	#competition-information-wrapper .submission-date {
		border-left: 1px solid #38396f;
		box-sizing: border-box;
	}
	
	#competition-information-wrapper .total-prize-number {
		font-size: 80px;
	}

	#competition-information-wrapper .total-prize-text {
		font-size: 40px;
	}

	#competition-information-wrapper .winners {
		font-size: 27px;
	}

	#competition-information-wrapper .receiving-amount {
		font-size: 20px;
	}


	/****** Date stats panel ******/
	#competition-information-wrapper .prize-breakdown {
		padding: 30px 0 0;
	}
	
	#competition-information-wrapper .total-prize {
		height: 119px;
	}

	#competition-information-wrapper .date-title {
		font-size: 16px;
	}

	#competition-information-wrapper .date-information {
		font-size: 14px;
	}
	
	/****** Competition summary copy ******/
	
}

/******************************************

** H1 headline resize queries (<540px width)

******************************************/

@media screen and (max-width: 540px) {

	/* Main page headline */
	#headline-wrapper .headline {
		font-size: 30px;
	}

}

@media screen and (max-width: 500px) {

	/* Main page headline */
	#headline-wrapper .headline {
		font-size: 22px;
	}

}

/******************************************

** H2 headline resize queries (<480px width)

******************************************/

@media screen and (max-width: 480px) {

	/* All H2 yellow headlines */
	.yellow-headline,
	.grey-headline {
		font-size: 20px;
	}

}

/******************************************

** Small mobile media queries (<425px width)

******************************************/

@media screen and (max-width: 425px) {
	
	/* Entire page wrapper */
	#main-wrapper {
		border: 10px solid #2B2B5E;
		padding: 0 20px;
	}
	
	.coz-logo {
		margin: 40px auto 50px;
		width: 200px;
	}
	
	/* All H2 yellow headlines */
	.yellow-headline,
	.grey-headline {
		font-size: 19px;
	}

	/* Main page headline */
	#headline-wrapper .headline {
		font-size: 24px;
		letter-spacing: 5px;
	}

	#headline-wrapper .coz-intro {
		font-size: 15px;
		line-height: 24px;
	}
	
	#headline-wrapper .skewed-subline-losenge {
		width: 210px;
	}

	#competition-information-wrapper .stats-wrapper {
		/* background: url('../images/stats-background-image-mobile.png') 0 0 no-repeat; */
		background-size: 100% 100%;
	}


	/****** Winner stats panel ******/
	/* Winner stats resize */
	#competition-information-wrapper .stats-wrapper .winner-stats {
		width: 84%;
		left: 8%;
	}

	#competition-information-wrapper .total-prize-number {
		font-size: 65px;
	}

	#competition-information-wrapper .total-prize-text {
		font-size: 40px;
	}

	#competition-information-wrapper .winners {
		font-size: 20px;
	}

	#competition-information-wrapper .receiving-amount {
		font-size: 20px;
	}


	/****** Date stats panel ******/
	#competition-information-wrapper .stats-wrapper .date-stats {
		height: 470px;
	}

	#competition-information-wrapper .registration-date {
		width: 100%;
		float: none;
		margin-top: 120px;
		padding-bottom: 20px;
	}

	#competition-information-wrapper .submission-date {
		width: 100%;
		float: none;
		padding-top: 30px;
		margin-top: 0;
		border-top: 1px solid #38396f;
	}

	#competition-information-wrapper .date-title {
		font-size: 16px;
	}

	#competition-information-wrapper .date-information {
		font-size: 14px;
	}

	
	#copy-wrapper .body-copy {
		line-height: 28px;
	}

}




